<div class="container mt-2" style="min-width: 800px;">
  <div class="col-md-12">
    <h5 class="text-center">Configure {{componentName}}</h5>
    <div class="row">
      <div class="col-md-12">
        <jqxSplitter #myCCSplitter style="border: none;"
            [width]="'100%'" [height]="400" [panels]="[{ size: 200}]">
          <div>
            <div class="border-bottom text-center">Components</div>
            <jqxTree #myCCTree [source]="records" (onSelect)="componentSelected($event)"
            [width]="'100%'" [height]="'100%'" style="border: none;"  [allowDrag]="false" [allowDrop]="false" >
            </jqxTree>


          </div>
          <div class="ConfigurationPanel" >
            <div class="border-bottom text-center" *ngIf="dataTableConfigVisible">Column Configuration</div>
            <jqxTree #myDTTree [source]="dataTableRecords" 
            [width]="'200'" [height]="'200'" style="border: none;" *ngIf="dataTableConfigVisible" >
            </jqxTree>              
          </div>
        </jqxSplitter>              
      </div>
    </div>
  </div>
</div>
