<div class="container mt-2" style="min-width: 800px;">
  <div class="col-md-12">
    <h5 class="text-center">Configure {{componentName}}</h5>
    <div class="row">
      <div class="col-md-12">
        <jqxSplitter #splitter  style="border: none;"
            [width]="'100%'" [height]="400" [panels]="[{ size: 200}]">
          <div>
  
          <jqxTree #myCCTree [source]="records"
          [width]="'100%'" [height]="'100%'" style="border: none;" >
          </jqxTree>
          </div>
          <div #ContentPanel  >
                      
          </div>
        </jqxSplitter>              
      </div>
    </div>
  </div>
</div>
