<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                    <label for="company">Company (disabled)</label>
                    <input type="text" class="form-control" disabled="" name="company" [(ngModel)]="user.company">
                </div>
              </div>
            </div>
              <div class="row">                
              <div class="col-md-6 pr-1">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" name="firstname" [(ngModel)]="user.firstName" >
                </div>
              </div>
              <div class="col-md-6 p4-1">                  
                <div class="form-group">
                  <label for="lastname">Last Name</label>
                  <input type="email" class="form-control" name="lastname" [(ngModel)]="user.lastName" >
                </div>                  
              </div>
              
            </div>
            <div class="row">                
              <div class="col-md-4 pr-1">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="user.username" >
                </div>
              </div>

              <div class="col-md-4 pr-1">                  
                <div class="form-group">
                  <label for="knownas">Known As</label>
                  <input type="text" class="form-control" name="knownas" [(ngModel)]="user.knownAs" >
                </div>                  
              </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-1">                  
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="user.email" >
                  </div>                  
                </div>
                <div class="col-md-4 pr-1">                  
                  <div class="form-group">
                    <label for="mobilephone">Mobile Phone</label>
                    <input type="mobilephone" class="form-control" name="mobilephone" [(ngModel)]="user.mobilePhone" >
                  </div>                  
                </div>                                
              </div>
              <div class="row">                                
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" class="form-control" name="city" [(ngModel)]="user.city" >
                  </div>
                </div>
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                      <label for="country">Country</label>
                      <input type="text" class="form-control" name="country" [(ngModel)]="user.country" >
                  </div>
                </div>                
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Company Users</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  DJ Khaled
                  <br />
                  <span class="text-muted">
                    <small>Offline</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Creative Tim
                  <br />
                  <span class="text-success">
                    <small>Available</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
