<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)= "updateUser()">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                    <label for="company">Company (disabled)</label>
                    <input disabled="true" type="text" formControlName="company" class="form-control" >
                </div>
              </div>
            </div>
              <div class="row">                
              <div class="col-md-6 pr-1">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" formControlName="firstname" class="form-control" 
                    [ngClass]="{'is-invalid': editForm.get('firstname').errors && editForm.get('firstname').touched}">
                    <div class="invalid-feedback">Please enter a first name</div>
                </div>
              </div>
              <div class="col-md-6 p4-1">                  
                <div class="form-group">
                  <label for="lastname">Last Name</label>
                  <input type="text" formControlName="lastname" class="form-control"
                  [ngClass]="{'is-invalid': editForm.get('lastname').errors && editForm.get('lastname').touched}">
                  <div class="invalid-feedback">Please enter a last name</div>
              </div>                  
            </div>
              
            </div>
            <div class="row">                
              <div class="col-md-4 pr-1">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control"
                      [ngClass]="{'is-invalid': editForm.get('username').errors && editForm.get('username').touched}">
                    <div class="invalid-feedback">Please enter a username</div>
                </div>
              </div>

              <div class="col-md-4 pr-1">                  
                <div class="form-group">
                  <label for="knownas">Known As</label>
                  <input type="text" formControlName="knownas" class="form-control" >
                </div>                  
              </div>
            </div>
              <div class="row">
                <div class="col-md-4 pr-1">                  
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control" 
                    [ngClass]="{'is-invalid': editForm.get('email').errors && editForm.get('email').touched}">
                    <div class="invalid-feedback">Please enter an email</div>                    
                  </div>                  
                </div>
                <div class="col-md-4 pr-1">                  
                  <div class="form-group">
                    <label for="mobilephone">Mobile Phone</label>
                    <input type="text" formControlName="mobilephone" class="form-control" >
                  </div>                  
                </div>                                
              </div>
              <div class="row">                                
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" formControlName="city" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                      <label for="country">Country</label>
                      <input type="text" formControlName="country" class="form-control" >
                  </div>
                </div>                
              </div>
              <button [disabled]="!editForm.valid" class="btn btn-primary" style="float:right;"
                type="submit" title="Update Profile" >Save</button>                 
              <button class="btn btn-warning" style="float:right;" title="Cancel Profile Update" 
                (click)="cancelUpdate()">Cancel</button>                  
           
            </form>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Company Users</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  DJ Khaled
                  <br />
                  <span class="text-muted">
                    <small>Offline</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Creative Tim
                  <br />
                  <span class="text-success">
                    <small>Available</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
