<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="profileEditForm" (ngSubmit)= "updateUser()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="company">Company (disabled)</label>
                  <input disabled="true" type="text" formControlName="company" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" formControlName="firstname" class="form-control" 
                    [ngClass]="{'is-invalid': profileEditForm.get('firstname').errors && profileEditForm.get('firstname').touched}">
                    <div class="invalid-feedback">Please enter a first name</div>
                </div>
                <div class="form-group">
                  <label for="lastname">Last Name</label>
                  <input type="text" formControlName="lastname" class="form-control"
                  [ngClass]="{'is-invalid': profileEditForm.get('lastname').errors && profileEditForm.get('lastname').touched}">
                  <div class="invalid-feedback">Please enter a last name</div>
                </div>                  
              </div>
              <div class="col-md-3">
                <div class="col-md-10 border pt-3" style="float: right;">
                  <img src="{{user.photoUrl || '../../assets/img/user.png'}}"  width="140px" />
                  <div class="text-center">
                      <button type="button" class="btn btn-link btn-primary btn-sm mr-1" (click)="updatePhoto()" 
                        title="Update Profile Fhoto"><i class="fa fa-edit"></i></button>
                      <button type="button" class="btn btn-link btn-sm btn-danger" title="Remove Profile Photo"
                        (click)="deletePhoto()" ><i class="fa fa-trash-o"></i></button>
                  </div>                  
                </div>                
              </div>
            </div>
            <div class="row">

            </div>

            <div class="row">                
              <div class="col-md-4 pr-1">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control"
                      [ngClass]="{'is-invalid': profileEditForm.get('username').errors && profileEditForm.get('username').touched}">
                    <div class="invalid-feedback">Please enter a username</div>
                </div>
              </div>

              <div class="col-md-4 pr-1">                  
                <div class="form-group">
                  <label for="knownas">Known As</label>
                  <input type="text" formControlName="knownas" class="form-control" >
                </div>                  
              </div>
            </div>
              <div class="row">
                <div class="col-md-4 pr-1">                  
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control" 
                    [ngClass]="{'is-invalid': profileEditForm.get('email').errors && profileEditForm.get('email').touched}">
                    <div class="invalid-feedback">Please enter an email</div>                    
                  </div>                  
                </div>
                <div class="col-md-4 pr-1">                  
                  <div class="form-group">
                    <label for="mobilephone">Mobile Phone</label>
                    <input type="text" formControlName="mobilephone" class="form-control" >
                  </div>                  
                </div>                                
              </div>
              <div class="row">                                
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" formControlName="city" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                      <label for="country">Country</label>
                      <input type="text" formControlName="country" class="form-control" >
                  </div>
                </div>                
              </div>
              <div class="text-right">
                <button class="btn btn-warning mr-1"  title="Cancel Profile Update" 
                  (click)="cancelUpdate()">Cancel</button>
                <button [disabled]="!profileEditForm.valid" class="btn btn-primary mr-1" 
                  type="submit" title="Update Profile" >Save</button>                 
              
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
