<div class="container mt-4">
    <div style="min-width: 700px;"></div>
        <div class="row mt-3 ">
            <div class="col-md-3 ">

                <strong>Add Files</strong>

                <div ng2FileDrop
                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                    (fileOver)="fileOverBase($event)"
                    [uploader]="uploader"
                    class="card bg-fadded p-3 text-center mb-3 my-drop-zone">
                    <i class="fa fa-upload fa-3x"></i>
                    Drop Files Here
                </div>

                <p>Multiple</p>
                <div>
                    <button (click)="fileInput.click()" class="btn-sm btn-default">Upload Multiple</button>
                    <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                            <input type="file" #fileInput ng2FileSelect [uploader]="uploader" multiple />
                    </span>
                    <!-- <input type="file" ng2FileSelect [uploader]="uploader" multiple  /> -->
                </div><br/>

                <p>Single</p>
                <div>
                    <button (click)="fileInputSingle.click()" class="btn-sm btn-default">Upload</button>
                    <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                            <input type="file"  #fileInputSingle  ng2FileSelect [uploader]="uploader"/>
                    </span>                    
                    <!-- <input type="file"ng2FileSelect [uploader]="uploader" /> -->
                </div>
            </div>

            <div class="col-md-9" style="margin-bottom: 40px" >

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
          <thead>
          <tr>
              <th width="50%">Name</th>
              <th>Size</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>

          </tr>
          </tbody>
      </table>

      <div>
          <div>
              Queue progress:
              <div class="progress mb-4">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
          </div>
          <button type="button" class="btn btn-primary btn-s"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="fa fa-upload"></span> Upload
          </button>
          <span style="padding-left: 10px;"></span>
          <button type="button" class="btn btn-danger btn-s"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="fa fa-trash"></span> Remove from Queue
          </button>
      </div>

  </div>

</div>
</div>