<div class="main-content">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="height: 738px;" >
          <div>
            <app-fieldfilter [tableColumns]="tableColumns" (refreshDataTable)="setTableFilter($event)"  ></app-fieldfilter>
          </div>
          <jqxDataTable #myDataTable [autoRowHeight]="false"
            [width]="getTableWidth()" [height]="'92%'" [source]="tableDataAdaptor" [columns]="tableColumns"
            [pageable]="true" [altRows]="true" [rendered]="renderedRowButtons" [pageSize]="15"
            [pagerButtonsCount]="8" [sortable]="true"  >
          </jqxDataTable>
        </div>
      </div>
    </div>
  </div>
  <jw-modal id="fieldupdatemodal" class="col-lg-8 col-sm-4">
      <div class="card">
        <div class="card-body">
          <app-fieldupdate #myFieldUpdate></app-fieldupdate>
          <button style="float:right;" class="btn btn-primary btn-link" (click)="myFieldUpdateFinish(true);">Save</button>
          <button style="float:right;" class="btn btn-warning btn-link" (click)="myFieldUpdateFinish(false);">Cancel</button>
        </div>
      </div>      
  </jw-modal>

  